body {
	background: linear-gradient(to bottom right, red, blue);
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin: 0;
	padding: 0;
}

.tiles {
	margin: 15px auto;
	width: max-content;
	display: grid;
	grid-template-columns: repeat(4, 100px);
	gap: 25px;
	box-sizing: border-box;
	background-color: #333;
	border: solid 2px white;
	padding: 50px;
}

.tile {
	height: 100px;
	background: black;
	border: 2px solid white;
	cursor: pointer;
}

.title {
	color: black;
	text-align: center;
	font-weight: 700;
	font-size: 50px;
}

.sub-title {
	color: greenyellow;
	text-align: center;
	font-weight: 700;
	font-size: 35px;
}

.description {
	color: black;
	text-align: center;
	font-weight: 700;
	font-size: 25px;
}